{% extends 'base.html.twig' %}

{% block title %}Задача{% endblock %}

{% block body %}
    <h1>Задача</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Описание задачи</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Длительность задачи</th>
                <td>{{ task.duration|duration }}</td>
            </tr>
            <tr>
                <th>Дополнительная информация</th>
                <td>
                    {% if task.additionalData.data.info is defined %}
                        {{ task.additionalData.data.info }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Приоритет задачи</th>
                <td>
                    {% if task.additionalData.data.priority is defined %}
                        {{ task.additionalData.data.priority|taskPriority }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <th>Пользователь</th>
                    <td>
                        {% if task.user %}
                            {{ task.user.username }}
                            {{ include('components/switch_user.html.twig', {'username': task.user.username}) }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        <tr>
            <th>Файл задачи</th>
            <td>
                {% if task.attachment %}
                    <a href="{{ path('task.download', {'id': task.id}) }}">
                        {{ task.attachmentfilename }}
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary mb-2" href="{{ return_url }}">К списку задач</a>

    <hr />
    {% include '@FOSComment/Thread/async.html.twig' with {'id': 'task_' ~ task.id} %}
    <hr />

    <a class="btn btn-secondary mt-2" href="{{ return_url }}">К списку задач</a>
{% endblock %}
