<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Symfony-workplace</title>
    <link rel="stylesheet" href="{{ asset('build/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>
    <div id="vueApp"></div>
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('build/vue.js') }}"></script>
</body>
</html>
